Repository eliko2000/CPQ-System: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 500, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 500", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

feat: Phase 3 CI/CD setup and documentation reorganization
  .claude/settings.local.json
  .env.example
  .github/workflows/ci.yml
  CLAUDE.md
  CLINE.md
  docs/developer/DEV_ERROR_HANDLING.md
  docs/developer/DEV_MIGRATION.md
  docs/developer/DEV_PARSERS_API.md
  docs/developer/DEV_PARSERS_GUIDE.md
  docs/developer/DEV_PARSERS_INTEGRATION.md
  docs/developer/DEV_REFACTORING.md
  docs/developer/IMPL_ANALYTICS.md
  docs/developer/IMPL_FILTERS.md
  docs/developer/IMPL_QUOTATION_STATS.md
  docs/developer/IMPL_SUPPLIER_QUOTES.md
  docs/developer/SETUP_SUPABASE_STORAGE.md
  docs/developer/SETUP_TABLE_CONFIG.md
  docs/planning/PLAN_ASSEMBLIES.md
  docs/planning/PLAN_FILTER_TESTS.md
  docs/planning/PLAN_TABLE_IMPROVEMENTS.md
  docs/planning/PRD_CORE_SYSTEM.md
  docs/planning/PRD_QUOTATION_SYSTEM.md
  docs/reports/BACKLOG_BUGS.md
  docs/reports/BUGFIX_AUTH_ERROR.md
  docs/reports/BUGFIX_CURRENCY_HEBREW.md
  docs/reports/BUGFIX_MODEL_404.md
  docs/reports/BUGFIX_QUOTATION_STATS.md
  docs/reports/BUGFIX_THREE_ISSUES.md
  docs/reports/REPORT_FILTER_BUGS.md
  docs/reports/REPORT_PARSERS_IMPL.md
  docs/reports/REPORT_PHASE_2.4.md
  docs/reports/REPORT_TEST_SUMMARY.md
  docs/test-coverage-enforcement.md
  docs/user-guides/GUIDE_AI_IMPORT_SETUP.md
  docs/user-guides/GUIDE_FILE_IMPORT.md
  package.json
  src/lib/config.ts
  src/services/claudeAI.ts
  src/supabaseClient.ts
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: Resolve TypeScript errors and add missing React imports
  src/components/analytics/ComponentAnalytics.tsx
  src/components/grid/__tests__/CustomHeader.filter.test.tsx
  src/components/library/ComponentForm.tsx
  src/components/projects/ProjectDetailPage.tsx
  src/components/projects/ProjectList.tsx
  src/components/quotations/ProjectPicker.tsx
  src/components/quotations/QuotationEditor.tsx
Due: eslint --fix --max-warnings 500, prettier --write

feat: Enhanced environment configuration with feature flags
  .env.example
  README.md
  src/lib/config.ts
Due: eslint --fix --max-warnings 500, prettier --write

test: verify pre-commit hooks auto-format
  test-precommit.ts
Due: eslint --fix --max-warnings 500, prettier --write

test: remove pre-commit test file
  test-precommit.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat: Phase 4 Performance & Scale optimizations complete
  coverage-output.txt
  migrations/004_add_performance_indexes.sql
  migrations/README.md
  package-lock.json
  package.json
  public/_headers
  src/components/shared/AppRoutes.tsx
  src/hooks/useComponents.ts
  test-results.txt
  vercel.json
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: Correct column names in database migration
  migrations/004_add_performance_indexes.sql
Due: none

feat: Phase 4.2 React Performance optimizations
  src/components/quotations/QuotationEditor.tsx
  src/components/quotations/QuotationParameters.tsx
  src/components/quotations/QuotationStatisticsPanelSimplified.tsx
Due: eslint --fix --max-warnings 500, prettier --write

feat: Add Phase 5 - Code Organization & Refactoring to roadmap
  ROADMAP.md
Due: prettier --write

fix: resolve all test failures and clean up lint warnings
  src/components/shared/__tests__/Sidebar.navigation.test.tsx
  src/hooks/__tests__/useAssemblies.test.ts
  src/hooks/__tests__/useQuotations.test.ts
  src/services/__tests__/pdfParser.test.ts
  src/services/documentParsers.test.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat: Phase 5.3 - Refactor SettingsPage.tsx into modular sections
  src/components/settings/SettingsPage.tsx
  src/components/settings/sections/AppearanceSettings.tsx
  src/components/settings/sections/CompanySettings.tsx
  src/components/settings/sections/ComponentCategoriesSettings.tsx
  src/components/settings/sections/DatabaseSettings.tsx
  src/components/settings/sections/GeneralSettings.tsx
  src/components/settings/sections/NotificationSettings.tsx
  src/components/settings/sections/PricingSettings.tsx
  src/components/settings/sections/QuotationSettings.tsx
  src/components/settings/sections/SecuritySettings.tsx
  src/components/settings/sections/TableColumnsSettings.tsx
Due: eslint --fix --max-warnings 500, prettier --write

feat: Phase 5.3, 5.4 & 5.5 - Refactor settings, types, and analytics into modular architecture
  ROADMAP.md
  src/components/ingestion/QuoteIngestion.tsx
  src/components/ingestion/QuoteValidation.tsx
  src/types.ts
  src/types/analytics.types.ts
  src/types/assembly.types.ts
  src/types/common.types.ts
  src/types/component.types.ts
  src/types/index.ts
  src/types/parsing.types.ts
  src/types/project.types.ts
  src/types/quotation.types.ts
  src/types/supplier.types.ts
  src/utils/analyticsCalculations.ts
  src/utils/calculations/componentAnalytics.ts
  src/utils/calculations/helpers.ts
  src/utils/calculations/index.ts
  src/utils/calculations/laborMetrics.ts
  src/utils/calculations/marginCalculations.ts
  src/utils/calculations/revenueCalculations.ts
  src/utils/calculations/types.ts
Due: eslint --fix --max-warnings 500, prettier --write

refactor: extract QuotationDataGrid column definitions and renderers
  src/components/library/componentGridColumns.ts
  src/components/library/componentGridRenderers.tsx
  src/components/quotations/QuotationDataGrid.tsx
  src/components/quotations/quotationGridColumns.ts
  src/components/quotations/quotationGridRenderers.tsx
Due: eslint --fix --max-warnings 500, prettier --write

fix: eliminate all remaining TypeScript errors (17 → 0)
  .claude/settings.local.json
  src/components/grid/__tests__/CustomHeader.integration.test.tsx
  src/components/library/EnhancedComponentGrid.tsx
  src/components/library/__tests__/ComponentLibrary.test.tsx
  src/components/quotations/QuotationEditor.tsx
  src/components/shared/__tests__/BOMGrid.test.tsx
  src/hooks/__tests__/useQuotations.test.ts
  src/hooks/useComponents.ts
  src/utils/__tests__/analyticsCalculations.test.ts
  typescript-errors.txt
Due: eslint --fix --max-warnings 500, prettier --write

feat: add custom items, bulk import editing, and sticky form buttons
  .claude/settings.local.json
  CUsersEliDesktopClaude
  GIT_BISECT_GUIDE.md
  migrations/add-custom-item-flag.sql
  src/components/library/AIExtractionPreview.tsx
  src/components/library/ComponentForm.tsx
  src/components/quotations/AddItemDialog.tsx
  src/components/quotations/CustomItemForm.tsx
  src/components/quotations/QuotationEditor.tsx
  src/components/quotations/__tests__/CustomItemIntegration.test.tsx
  src/components/quotations/quotationItemGridColumns.tsx
  src/components/ui/label.tsx
  src/components/ui/textarea.tsx
  src/hooks/quotation/useQuotationActions.ts
  src/hooks/quotation/useQuotationState.ts
  src/lib/utils.ts
  src/types/quotation.types.ts
  src/utils/__tests__/quotationCalculations.test.ts
  src/utils/quotationCalculations.ts
  temp_working_editor.txt
Due: eslint --fix --max-warnings 500, prettier --write

Fix: Resolve intermittent column visibility bug in Projects table
  src/components/projects/ProjectList.tsx
Due: eslint --fix --max-warnings 500, prettier --write

feat(settings): add Claude API key configuration with inline feedback and fix toast notifications
  src/App.tsx
  src/components/settings/sections/GeneralSettings.tsx
  src/services/claudeAI.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat: Implement Auth UI, User Menu, and Team Management
  .claude/settings.local.json
  MULTI_TENANT_AUTH_PLAN.md
  MULTI_TENANT_AUTH_TASKS.md
  migrations/MULTI_TENANT_AUTH_SETUP.md
  migrations/MULTI_TENANT_MIGRATIONS_README.md
  migrations/multi-tenant-auth-001-core-tables.sql
  migrations/multi-tenant-auth-002-add-team-isolation.sql
  migrations/multi-tenant-auth-003-rls-policies.sql
  migrations/multi-tenant-auth-004-functions-triggers.sql
  migrations/multi-tenant-auth-005-seed-feature-flags.sql
  package-lock.json
  package.json
  src/App.tsx
  src/components/auth/AuthGuard.tsx
  src/components/shared/AppRoutes.tsx
  src/components/shared/Sidebar.tsx
  src/components/shared/UserMenu.tsx
  src/components/teams/CreateTeamDialog.tsx
  src/components/teams/TeamSwitcher.tsx
  src/components/ui/avatar.tsx
  src/components/ui/dropdown-menu.tsx
  src/contexts/AuthContext.tsx
  src/contexts/TeamContext.tsx
  src/hooks/useAuth.ts
  src/hooks/useUser.ts
  src/main.tsx
  src/pages/auth/AuthCallback.tsx
  src/pages/auth/ForgotPasswordPage.tsx
  src/pages/auth/LoginPage.tsx
  src/pages/auth/SignupPage.tsx
  src/src/components/ui/avatar.tsx
  src/src/components/ui/dropdown-menu.tsx
  src/types/auth.types.ts
Due: eslint --fix --max-warnings 500, prettier --write

chore: update Claude settings after lint-staged formatting
  .claude/settings.local.json
Due: prettier --write

fix: resolve column resize issue in Quotation Editor grid
  src/components/grid/CustomHeader.tsx
  src/components/quotations/QuotationEditor.tsx
  src/components/quotations/QuotationItemsGrid.tsx
  src/components/quotations/quotationItemGridColumns.tsx
  src/hooks/useTableConfig.ts
  src/index.css
Due: eslint --fix --max-warnings 500, prettier --write

feat: Complete Multi-Tenant Authentication System Implementation
  .claude/settings.local.json
  .playwright-mcp/quotation-grid-after-column-resize.png
  .playwright-mcp/quotation-grid-after-fix.png
  .playwright-mcp/quotation-grid-after-resize-attempt.png
  .playwright-mcp/quotation-grid-after-resize-v2.png
  .playwright-mcp/quotation-grid-final-fix.png
  .playwright-mcp/quotation-grid-fix-v2.png
  .playwright-mcp/quotation-grid-initial-load.png
  .playwright-mcp/quotation-grid-loaded.png
  .playwright-mcp/quotation-grid-scrolled.png
  BUGFIX_QUOTATION_EDITOR_COLUMN_WIDTH.md
  BUGFIX_TEAM_MEMBER_DELETION.md
  FEATURE_FLAG_IMPLEMENTATION_COMPLETE.md
  MULTI_TENANT_IMPLEMENTATION_COMPLETE.md
  check_admin.sql
  migrations/MIGRATION_EXECUTION_GUIDE.md
  migrations/check-rls-status.sql
  migrations/fix-team-members-infinite-recursion.sql
  src/App.tsx
  src/__tests__/multiTenantIsolation.test.ts
  src/components/admin/TeamFeatureAccessTable.tsx
  src/components/profile/UserAvatarUpload.tsx
  src/components/shared/Sidebar.tsx
  src/components/ui/avatar.tsx
  src/components/ui/switch.tsx
  src/components/ui/table.tsx
  src/contexts/FeatureFlagContext.tsx
  src/hooks/useAdminFeatureFlags.ts
  src/pages/admin/SystemAdminPage.tsx
  src/types/feature-flags.types.ts
  supabase/migrations/20251208212950_create_avatars_bucket.sql
  supabase/migrations/20251208213435_fix_avatar_rls_policies.sql
  supabase/migrations/20251208231728_fix_team_members_infinite_recursion.sql
  supabase/migrations/20251209065425_set_developer_as_system_admin.sql
Due: eslint --fix --max-warnings 500, prettier --write

chore: update Claude settings
  .claude/settings.local.json
Due: prettier --write

feat: team-scoped settings, appearance preferences, and multi-tenant isolation fixes
  BUGFIX_CATEGORY_ISOLATION_COMPLETE.md
  BUGFIX_ITEMS_PER_PAGE.md
  BUGFIX_SETTINGS_SAVE_ISSUE.md
  BUGFIX_TEAM_SETTINGS_ISOLATION.md
  FEATURE_REQUEST_CONNECT_APPEARANCE_SETTINGS.md
  SETTINGS_AUDIT.md
  SETTINGS_IMPLEMENTATION_STATUS.md
  migrations/add-team-settings-isolation.sql
  src/components/grid/__tests__/CustomHeader.integration.test.tsx
  src/components/library/AIExtractionPreview.tsx
  src/components/library/ComponentForm.tsx
  src/components/library/EnhancedComponentGrid.tsx
  src/components/quotations/QuotationDataGrid.tsx
  src/components/quotations/__tests__/CustomItemIntegration.test.tsx
  src/components/settings/sections/AppearanceSettings.tsx
  src/components/settings/sections/ComponentCategoriesSettings.tsx
  src/components/settings/sections/GeneralSettings.tsx
  src/components/settings/sections/PricingSettings.tsx
  src/components/settings/sections/QuotationSettings.tsx
  src/components/settings/sections/TableColumnsSettings.tsx
  src/components/supplier-quotes/SupplierQuoteImport.tsx
  src/constants/settings.ts
  src/contexts/TeamContext.tsx
  src/hooks/useAppearancePreferences.ts
  src/services/__tests__/settingsService.test.ts
  src/services/claudeAI.ts
  src/services/settingsService.ts
  src/types/supplier.types.ts
  supabase/migrations/20251210091053_add_team_settings_isolation.sql
  verify-migration.sql
Due: eslint --fix --max-warnings 500, prettier --write

feat: MSRP pricing, multi-column extraction, and component price syncing
  DEBUG_MSRP_FLOW.md
  FEATURE_MSRP_PARTNER_DISCOUNT.md
  FEATURE_MULTI_COLUMN_PRICE_SELECTION.md
  migrations/add-msrp-fields.sql
  migrations/add-msrp-to-quotation-items.sql
  migrations/add-use-msrp-pricing-to-quotations.sql
  src/components/library/AIExtractionPreview.tsx
  src/components/library/ComponentAIImport.tsx
  src/components/library/ComponentForm.tsx
  src/components/library/ComponentLibrary.tsx
  src/components/library/EnhancedComponentGrid.tsx
  src/components/library/IntelligentDocumentUpload.tsx
  src/components/quotations/QuotationEditor.tsx
  src/components/quotations/QuotationModals.tsx
  src/components/quotations/QuotationParameters.tsx
  src/components/quotations/quotationItemGridColumns.tsx
  src/contexts/CPQProvider.tsx
  src/hooks/quotation/useQuotationActions.ts
  src/hooks/useComponents.ts
  src/lib/utils.ts
  src/services/claudeAI.ts
  src/services/componentMatcher.ts
  src/types/component.types.ts
  src/types/quotation.types.ts
  src/utils/quotationCalculations.ts
  supabase/migrations/20251216122641_add_msrp_to_quotation_items.sql
  supabase/migrations/20251216153335_add_use_msrp_pricing_to_quotations.sql
Due: eslint --fix --max-warnings 500, prettier --write

feat: Add MSRP margin editing with global and per-item controls
  .claude/settings.local.json
  src/components/library/AIExtractionPreview.tsx
  src/components/library/IntelligentDocumentUpload.tsx
Due: eslint --fix --max-warnings 500, prettier --write

feat: Labor system separation with global settings integration and updated subtypes
  .claude/settings.local.json
  .playwright-mcp/current-import-state.png
  .playwright-mcp/page-2025-12-22T10-42-59-193Z.png
  PLAN_LABOR_SEPARATION.md
  migrations/add-day-work-cost-to-quotations.sql
  migrations/add-labor-columns-to-quotation-items.sql
  migrations/create-labor-types-table.sql
  migrations/migrate-labor-components.sql
  migrations/remove-labor-category-and-default-days.sql
  migrations/update-labor-subtypes.sql
  src/components/labor/LaborTypeForm.tsx
  src/components/labor/LaborTypeGrid.tsx
  src/components/labor/LaborTypeList.tsx
  src/components/labor/LaborTypesPage.tsx
  src/components/library/ComponentForm.tsx
  src/components/library/ComponentLibrary.tsx
  src/components/quotations/AddItemDialog.tsx
  src/components/quotations/QuotationDataGrid.tsx
  src/components/quotations/QuotationEditor.tsx
  src/components/quotations/QuotationItemsGrid.tsx
  src/components/quotations/QuotationParameters.tsx
  src/components/quotations/quotationItemGridColumns.tsx
  src/components/shared/AppRoutes.tsx
  src/hooks/quotation/useQuotationActions.ts
  src/hooks/quotation/useQuotationState.ts
  src/hooks/useClickOutside.ts
  src/hooks/useComponents.ts
  src/hooks/useLaborTypes.ts
  src/lib/utils.ts
  src/types/common.types.ts
  src/types/component.types.ts
  src/types/labor.types.ts
  src/types/quotation.types.ts
  src/utils/quotationCalculations.ts
  supabase/migrations/20251218140527_create_labor_types_table.sql
  supabase/migrations/20251218140528_migrate_labor_components.sql
  supabase/migrations/20251218140529_add_labor_columns_to_quotation_items.sql
  supabase/migrations/20251221115406_remove_labor_category_and_default_days.sql
Due: eslint --fix --max-warnings 500, prettier --write

fix: resolve all TypeScript errors for production deployment
  .claude/settings.local.json
  src/__tests__/multiTenantIsolation.test.ts
  src/components/labor/LaborTypeGrid.tsx
  src/components/labor/LaborTypesPage.tsx
  src/components/library/ComponentAIImport.tsx
  src/components/library/ComponentForm.tsx
  src/components/library/EnhancedComponentGrid.tsx
  src/components/quotations/QuotationDataGrid.tsx
  src/components/shared/UserMenu.tsx
  src/components/teams/JoinTeamDialog.tsx
  src/components/teams/TeamSwitcher.tsx
  src/contexts/TeamContext.tsx
  src/hooks/useAppearancePreferences.ts
  src/pages/profile/UserProfilePage.tsx
  src/services/laborClassifier.ts
  src/src/components/ui/avatar.tsx
  src/src/components/ui/dropdown-menu.tsx
  src/types/common.types.ts
  src/types/component.types.ts
  src/types/labor.types.ts
  src/types/quotation.types.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: remove supabase CLI from dependencies for Cloudflare deployment
  package.json
Due: prettier --write

fix: remove vite-plugin-compression to fix Cloudflare Pages deployment
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: force fresh Cloudflare deployment to clear edge cache
  index.html
Due: none

fix: remove incorrect Content-Encoding headers causing ERR_CONTENT_DECODING_FAILED
  public/_headers
Due: none

fix: resolve React bundling issue causing useState undefined error
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: add resolve.dedupe to prevent duplicate React instances
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: bundle use-sync-external-store with React to prevent useState undefined error
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: simplify chunk strategy to fix React loading order issues
  vite.config.ts
Due: eslint --fix --max-warnings 500, prettier --write
